body {
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    background-color: #c4d4f6;
    color: #0056b3;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    color: #007bff;
    padding: 30px;
    font-size: 20px;
}

h1 {
    font-size: 45px;
    text-align: center;
}

h3 {
    color: #464242;
    text-align: center;
}

h2 {
    color: #464242
}

p {
    color: #5a6e83;
    font-weight: bold;
}

img {
    margin-bottom: 20px;
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #4c5e72;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.profilePhoto {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    background-color: rgb(224, 227, 226);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    margin-top: 0;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    margin-bottom: 5px;
}
   
.boton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.boton:hover {
    background-color: #0056b3;
}

